.heading{
text-align: center;
color: orchid; 
}

.formLook{
    text-align: center;
    background-color: lightblue;
    width: auto;
    padding: 10px;
    border: 5px solid gray;   
}

.table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
  